In [1]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('used_cars.csv')
df

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,Ford,Utility Police Interceptor Base,2013,"51,000 mi.",E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,"$10,300"
1,Hyundai,Palisade SEL,2021,"34,742 mi.",Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,"$38,005"
2,Lexus,RX 350 RX 350,2022,"22,372 mi.",Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,None reported,NaN,"$54,598"
3,INFINITI,Q50 Hybrid Sport,2015,"88,900 mi.",Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,Black,Black,None reported,Yes,"$15,500"
4,Audi,Q3 45 S line Premium Plus,2021,"9,835 mi.",Gasoline,2.0L I4 16V GDI DOHC Turbo,8-Speed Automatic,Glacier White Metallic,Black,None reported,NaN,"$34,999"
...,...,...,...,...,...,...,...,...,...,...,...,...
4004,Bentley,Continental GT Speed,2023,714 mi.,Gasoline,6.0L W12 48V PDI DOHC Twin Turbo,8-Speed Automatic with Auto-Shift,C / C,Hotspur,None reported,Yes,"$349,950"
4005,Audi,S4 3.0T Premium Plus,2022,"10,900 mi.",Gasoline,349.0HP 3.0L V6 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,Black,Black,None reported,Yes,"$53,900"
4006,Porsche,Taycan,2022,"2,116 mi.",NaN,Electric,Automatic,Black,Black,None reported,NaN,"$90,998"
4007,Ford,F-150 Raptor,2020,"33,000 mi.",Gasoline,450.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,A/T,Blue,Black,None reported,Yes,"$62,999"
4008,BMW,X3 xDrive30i,2020,"43,000 mi.",Gasoline,248.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,A/T,Gray,Brown,At least 1 accident or damage reported,Yes,"$40,000"

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4009 entries, 0 to 4008
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         4009 non-null   object
 1   model         4009 non-null   object
 2   model_year    4009 non-null   int64
 3   milage        4009 non-null   object
 4   fuel_type     3839 non-null   object
 5   engine        4009 non-null   object
 6   transmission  4009 non-null   object
 7   ext_col       4009 non-null   object
 8   int_col       4009 non-null   object
 9   accident      3896 non-null   object
 10  clean_title   3413 non-null   object
 11  price         4009 non-null   object
dtypes: int64(1), object(11)
memory usage: 376.0+ KB

In [4]:
df.brand.unique()

array(['Ford', 'Hyundai', 'Lexus', 'INFINITI', 'Audi', 'Acura', 'BMW',
       'Tesla', 'Land', 'Aston', 'Toyota', 'Lincoln', 'Jaguar',
       'Mercedes-Benz', 'Dodge', 'Nissan', 'Genesis', 'Chevrolet', 'Kia',
       'Jeep', 'Bentley', 'Honda', 'Lucid', 'MINI', 'Porsche', 'Hummer',
       'Chrysler', 'Volvo', 'Cadillac', 'Lamborghini', 'Maserati',
       'Volkswagen', 'Subaru', 'Rivian', 'GMC', 'RAM', 'Alfa', 'Ferrari',
       'Scion', 'Mitsubishi', 'Mazda', 'Saturn', 'Bugatti', 'Polestar',
       'Rolls-Royce', 'McLaren', 'Buick', 'Lotus', 'Pontiac', 'FIAT',
       'Karma', 'Saab', 'Mercury', 'Plymouth', 'smart', 'Maybach',
       'Suzuki'], dtype=object)

In [5]:
print(df.groupby('brand')['model'].apply(list))

brand
Acura            [ILX 2.4L, RL Technology, Integra w/A-Spec Tec...
Alfa             [Romeo Stelvio Ti Sport, Romeo Giulia Quadrifo...
Aston            [Martin DBS Superleggera, Martin DBS Superlegg...
Audi             [Q3 45 S line Premium Plus, S3 2.0T Premium Pl...
BMW              [740 iL, 440 Gran Coupe 440i xDrive, 650 Gran ...
Bentley          [Continental GTC Base, Continental GT W12, Arn...
Bugatti                                  [Veyron 16.4 Grand Sport]
Buick            [Verano Convenience, Encore GX Essence, Rainie...
Cadillac         [CT5 Premium Luxury, CT5-V Blackwing, CT5-V V-...
Chevrolet        [S-10 LS, Suburban RST, Silverado 1500 Custom ...
Chrysler         [300 Touring, 300C SRT8, Pacifica Touring, Pac...
Dodge            [Challenger SXT, Ram 1500 Laramie Mega Cab, Sp...
FIAT             [124 Spider Abarth, 500e Battery Electric, 500...
Ferrari          [FF Base, Roma Base, California T, Roma Base, ...
Ford             [Utility Police Interceptor Base, F-150 XLT, M...
GMC              [Acadia SLT-1, Acadia SLT-1, Terrain SLE, Sier...
Genesis          [GV70 3.5T Sport, G90 3.3T Premium, G70 2.0T, ...
Honda            [Passport Elite, CR-V EX-L, S2000 CR, Civic LX...
Hummer           [H2 Base, H2 SUT, H2 Base, H2 Base, H3 Base, H...
Hyundai          [Palisade SEL, Elantra N Base, Tucson SE, Sona...
INFINITI         [Q50 Hybrid Sport, Q70h Base, G35 Sport, G37 x...
Jaguar           [F-TYPE, F-TYPE R, XF 35t R-Sport, F-TYPE R, F...
Jeep             [New Compass Trailhawk, Grand Cherokee Summit,...
Karma                                   [Revero Base, Revero Base]
Kia              [Sorento SX, Niro Plug-In Hybrid EX Premium, K...
Lamborghini      [Huracan Tecnica Coupe, Gallardo Base, Huracan...
Land             [Rover Range Rover Sport 3.0 Supercharged HST,...
Lexus            [RX 350 RX 350, RC 350 F Sport, LX 570 Base, I...
Lincoln          [Aviator Reserve AWD, Aviator Reserve AWD, MKZ...
Lotus            [Evora 400 Base, Evora Base, Elise Base, Evora...
Lucid             [Air Grand Touring, Air Grand Touring, Air Pure]
MINI             [Convertible John Cooper Works, Cooper S Clubm...
Maserati         [Quattroporte S, Ghibli S Q4, Levante S, Ghibl...
Maybach                                             [Type 57 Base]
Mazda            [CX-9 Grand Touring, MX-5 Miata Grand Touring,...
McLaren          [570S Spider, 570S Base, 570S Spider, 720S Per...
Mercedes-Benz    [Metris Base, AMG CLA 45 Base 4MATIC, AMG C 43...
Mercury                  [Marauder Base, Marauder Base, Capri XR2]
Mitsubishi       [Lancer Evolution GSR, Eclipse Spyder GS, Lanc...
Nissan           [350Z Enthusiast, Sentra SR, Rogue SV, GT-R Pr...
Plymouth                                            [Prowler Base]
Polestar                                        [2 Launch Edition]
Pontiac          [Firebird Base, Firebird Trans Am, Firebird Tr...
Porsche          [Cayenne Platinum Edition, 911 Carrera S, Caye...
RAM              [ProMaster 3500 High Roof, 2500 Laramie, ProMa...
Rivian           [R1S Adventure Package, R1S Adventure Package,...
Rolls-Royce      [Phantom Drophead Coupe Drophead, Ghost Base, ...
Saab                                            [9-3 SE, 9-3 Aero]
Saturn           [Sky Base, Sky Red Line, Sky Red Line, Sky Red...
Scion            [tC Base, tC Release Series 6.0, tC Anniversar...
Subaru           [Forester 2.5 X, Forester Premium, Forester Ba...
Suzuki                                                  [SX4 Base]
Tesla            [Model X Long Range Plus, Model 3 Performance,...
Toyota           [Supra 3.0 Premium, Avalon Touring, C-HR LE, G...
Volkswagen       [Golf R 20th Anniversary Edition, Golf GTI 2.0...
Volvo            [XC90 Hybrid T8 R-Design, XC90 3.2, S90 T5 Mom...
smart                                                [ForTwo Pure]
Name: model, dtype: object

In [6]:
df.fuel_type.unique()

array(['E85 Flex Fuel', 'Gasoline', 'Hybrid', nan, 'Diesel',
       'Plug-In Hybrid', '–', 'not supported'], dtype=object)

In [7]:
df.loc[df['fuel_type'].isna()]

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
9,Tesla,Model X Long Range Plus,2020,"34,000 mi.",NaN,534.0HP Electric Motor Electric Fuel System,A/T,Black,Black,None reported,Yes,"$69,950"
44,Lucid,Air Grand Touring,2022,"3,552 mi.",NaN,536.0HP Electric Motor Electric Fuel System,1-Speed A/T,Red,Beige,None reported,Yes,"$119,999"
68,Lucid,Air Grand Touring,2022,"4,900 mi.",NaN,536.0HP Electric Motor Electric Fuel System,1-Speed A/T,Red,Black,None reported,Yes,"$99,000"
92,Rivian,R1S Adventure Package,2023,"2,800 mi.",NaN,835.0HP Electric Motor Electric Fuel System,1-Speed A/T,White,Green,None reported,Yes,"$92,000"
122,Rivian,R1S Adventure Package,2023,"2,500 mi.",NaN,835.0HP Electric Motor Electric Fuel System,A/T,Green,White,None reported,Yes,"$94,000"
...,...,...,...,...,...,...,...,...,...,...,...,...
3908,Tesla,Model Y Long Range,2021,"49,252 mi.",NaN,Electric,1-Speed Automatic,Deep Blue Metallic,Black,None reported,NaN,"$37,999"
3913,Tesla,Model S 100D,2018,"65,000 mi.",NaN,518.0HP Electric Motor Electric Fuel System,A/T,Blue,Black,None reported,Yes,"$41,000"
3932,Tesla,Model X Performance,2020,"25,535 mi.",NaN,778.0HP Electric Motor Electric Fuel System,A/T,White,Beige,None reported,Yes,"$68,969"
3961,Tesla,Model 3 Long Range,2021,"23,749 mi.",NaN,Electric,1-Speed Automatic,White,Black,None reported,NaN,"$35,999"
4006,Porsche,Taycan,2022,"2,116 mi.",NaN,Electric,Automatic,Black,Black,None reported,NaN,"$90,998"

In [8]:
df.engine.unique()

array(['300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capability',
       '3.8L V6 24V GDI DOHC', '3.5 Liter DOHC', ...,
       '136.0HP 1.8L 4 Cylinder Engine Gasoline Fuel',
       '270.0HP 2.0L 4 Cylinder Engine Gasoline Fuel',
       '420.0HP 5.9L 12 Cylinder Engine Gasoline Fuel'], dtype=object)

In [9]:
def extract_hp(text):
    match = re.search(r'(\d+\.?\d*)HP', text)
    return float(match.group(1)) if match else None

In [10]:
df['horsepower'] = df['engine'].apply(extract_hp)

In [11]:
def extract_displacement(text):
    match = re.search(r'(\d+\.\d+)L', text)
    return float(match.group(1)) if match else None

df['engine_size'] = df['engine'].apply(extract_displacement)

In [12]:
def extract_cylinders(text):
    match = re.search(r'([V|W](\d+))', text)
    if match:
        return int(match.group(2))
    
    match = re.search(r'Straight (\d+)', text)
    if match:
        return int(match.group(1))
    
    match = re.search(r'(\d+) Cylinder', text)
    if match:
        return int(match.group(1))
    
    return None

df['cylinders'] = df['engine'].apply(extract_cylinders)

In [13]:
df.cylinders.info()

<class 'pandas.core.series.Series'>
RangeIndex: 4009 entries, 0 to 4008
Series name: cylinders
Non-Null Count  Dtype
--------------  -----
3391 non-null   float64
dtypes: float64(1)
memory usage: 31.4 KB

In [14]:
df

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price,horsepower,engine_size,cylinders
0,Ford,Utility Police Interceptor Base,2013,"51,000 mi.",E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,"$10,300",300.0,3.7,6.0
1,Hyundai,Palisade SEL,2021,"34,742 mi.",Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,"$38,005",NaN,3.8,6.0
2,Lexus,RX 350 RX 350,2022,"22,372 mi.",Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,None reported,NaN,"$54,598",NaN,NaN,NaN
3,INFINITI,Q50 Hybrid Sport,2015,"88,900 mi.",Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,Black,Black,None reported,Yes,"$15,500",354.0,3.5,6.0
4,Audi,Q3 45 S line Premium Plus,2021,"9,835 mi.",Gasoline,2.0L I4 16V GDI DOHC Turbo,8-Speed Automatic,Glacier White Metallic,Black,None reported,NaN,"$34,999",NaN,2.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4004,Bentley,Continental GT Speed,2023,714 mi.,Gasoline,6.0L W12 48V PDI DOHC Twin Turbo,8-Speed Automatic with Auto-Shift,C / C,Hotspur,None reported,Yes,"$349,950",NaN,6.0,12.0
4005,Audi,S4 3.0T Premium Plus,2022,"10,900 mi.",Gasoline,349.0HP 3.0L V6 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,Black,Black,None reported,Yes,"$53,900",349.0,3.0,6.0
4006,Porsche,Taycan,2022,"2,116 mi.",NaN,Electric,Automatic,Black,Black,None reported,NaN,"$90,998",NaN,NaN,NaN
4007,Ford,F-150 Raptor,2020,"33,000 mi.",Gasoline,450.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,A/T,Blue,Black,None reported,Yes,"$62,999",450.0,3.5,6.0
4008,BMW,X3 xDrive30i,2020,"43,000 mi.",Gasoline,248.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,A/T,Gray,Brown,At least 1 accident or damage reported,Yes,"$40,000",248.0,2.0,4.0

In [15]:
df['fuel_type'] = df['fuel_type'].fillna('electric')

In [16]:
df.shape

(4009, 15)

In [17]:
df = df[~df['fuel_type'].isin(['–', 'not supported'])]

In [18]:
df.fuel_type.unique()

array(['E85 Flex Fuel', 'Gasoline', 'Hybrid', 'electric', 'Diesel',
       'Plug-In Hybrid'], dtype=object)

In [19]:
df.shape

(3962, 15)

In [20]:
df = df.drop(['model','engine','ext_col','int_col','clean_title'],axis=1)

In [21]:
df

,brand,model_year,milage,fuel_type,transmission,accident,price,horsepower,engine_size,cylinders
0,Ford,2013,"51,000 mi.",E85 Flex Fuel,6-Speed A/T,At least 1 accident or damage reported,"$10,300",300.0,3.7,6.0
1,Hyundai,2021,"34,742 mi.",Gasoline,8-Speed Automatic,At least 1 accident or damage reported,"$38,005",NaN,3.8,6.0
2,Lexus,2022,"22,372 mi.",Gasoline,Automatic,None reported,"$54,598",NaN,NaN,NaN
3,INFINITI,2015,"88,900 mi.",Hybrid,7-Speed A/T,None reported,"$15,500",354.0,3.5,6.0
4,Audi,2021,"9,835 mi.",Gasoline,8-Speed Automatic,None reported,"$34,999",NaN,2.0,NaN
...,...,...,...,...,...,...,...,...,...,...
4004,Bentley,2023,714 mi.,Gasoline,8-Speed Automatic with Auto-Shift,None reported,"$349,950",NaN,6.0,12.0
4005,Audi,2022,"10,900 mi.",Gasoline,Transmission w/Dual Shift Mode,None reported,"$53,900",349.0,3.0,6.0
4006,Porsche,2022,"2,116 mi.",electric,Automatic,None reported,"$90,998",NaN,NaN,NaN
4007,Ford,2020,"33,000 mi.",Gasoline,A/T,None reported,"$62,999",450.0,3.5,6.0
4008,BMW,2020,"43,000 mi.",Gasoline,A/T,At least 1 accident or damage reported,"$40,000",248.0,2.0,4.0

In [22]:
df.accident.unique()

array(['At least 1 accident or damage reported', 'None reported', nan],
      dtype=object)

In [23]:
df.accident = df.accident.fillna('no')

In [24]:
df.accident.unique()

array(['At least 1 accident or damage reported', 'None reported', 'no'],
      dtype=object)

In [25]:
df.accident = df.accident.replace({'At least 1 accident or damage reported': 1,'None reported':0,'no':0 })

/var/folders/vt/qtqcdsy13yzc5w2_z7ctw1pr0000gn/T/ipykernel_10192/793217575.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.accident = df.accident.replace({'At least 1 accident or damage reported': 1,'None reported':0,'no':0 })

In [26]:
df

,brand,model_year,milage,fuel_type,transmission,accident,price,horsepower,engine_size,cylinders
0,Ford,2013,"51,000 mi.",E85 Flex Fuel,6-Speed A/T,1,"$10,300",300.0,3.7,6.0
1,Hyundai,2021,"34,742 mi.",Gasoline,8-Speed Automatic,1,"$38,005",NaN,3.8,6.0
2,Lexus,2022,"22,372 mi.",Gasoline,Automatic,0,"$54,598",NaN,NaN,NaN
3,INFINITI,2015,"88,900 mi.",Hybrid,7-Speed A/T,0,"$15,500",354.0,3.5,6.0
4,Audi,2021,"9,835 mi.",Gasoline,8-Speed Automatic,0,"$34,999",NaN,2.0,NaN
...,...,...,...,...,...,...,...,...,...,...
4004,Bentley,2023,714 mi.,Gasoline,8-Speed Automatic with Auto-Shift,0,"$349,950",NaN,6.0,12.0
4005,Audi,2022,"10,900 mi.",Gasoline,Transmission w/Dual Shift Mode,0,"$53,900",349.0,3.0,6.0
4006,Porsche,2022,"2,116 mi.",electric,Automatic,0,"$90,998",NaN,NaN,NaN
4007,Ford,2020,"33,000 mi.",Gasoline,A/T,0,"$62,999",450.0,3.5,6.0
4008,BMW,2020,"43,000 mi.",Gasoline,A/T,1,"$40,000",248.0,2.0,4.0

In [27]:
df.accident.unique()

array([1, 0])

In [28]:
df.transmission.unique()

array(['6-Speed A/T', '8-Speed Automatic', 'Automatic', '7-Speed A/T',
       'F', 'A/T', '8-Speed A/T', 'Transmission w/Dual Shift Mode',
       '9-Speed Automatic', '6-Speed M/T', '10-Speed A/T', '9-Speed A/T',
       '5-Speed A/T', '1-Speed A/T', 'Automatic CVT',
       '7-Speed Automatic with Auto-Shift', 'CVT-F', 'M/T',
       '6-Speed Automatic with Auto-Shift', '10-Speed Automatic',
       'CVT Transmission', '4-Speed A/T', '6-Speed Automatic',
       '4-Speed Automatic', '7-Speed M/T',
       '8-Speed Automatic with Auto-Shift', '5-Speed Automatic',
       '8-SPEED AT', '1-Speed Automatic', '5-Speed M/T', 'Manual',
       '6-Speed Manual', 'Variable', '2', '7-Speed Manual',
       'Automatic, 9-Spd 9G-Tronic', 'Automatic, 8-Spd',
       'Automatic, 8-Spd Sport w/Sport & Manual Modes', '–',
       'Auto, 6-Spd w/CmdShft', 'Transmission Overdrive Switch',
       '7-Speed Automatic', 'Automatic, 8-Spd PDK Dual-Clutch',
       'Automatic, 8-Spd M STEPTRONIC w/Drivelogic, Sport & Manual Modes',
       'Automatic, 8-Spd Dual-Clutch', '6-Speed',
       'Single-Speed Fixed Gear', 'Automatic, 10-Spd',
       '2-Speed Automatic', '7-Speed',
       'Automatic, 7-Spd S tronic Dual-Clutch', 'Manual, 6-Spd',
       '6-Speed Electronically Controlled Automatic with O',
       '6 Speed At/Mt', '8-SPEED A/T',
       '10-Speed Automatic with Overdrive', '7-Speed DCT Automatic',
       '9-Speed Automatic with Auto-Shift',
       'SCHEDULED FOR OR IN PRODUCTION', '2-Speed A/T', '6 Speed Mt',
       '8-Speed Manual'], dtype=object)

In [29]:
def categorize_transmission(text):
    if isinstance(text, str):
        if 'a/t' in text.lower() or 'auto' in text.lower() or 'cv' in text.lower() or 'at' in text.lower():
            return 'automatic'
        elif 'm/t' in text.lower() or 'manual' in text.lower() or 'mt' in text.lower():
            return 'manual'
        elif 'f' in text.lower():  
            return 'automatic'
        else:
            return 'automatic'  
    return None
    
def extract_speed(text):
    match = re.search(r'(\d+)-?Speed', text)  # Look for number followed by Speed
    return int(match.group(1)) if match else None

df['speed'] = df['transmission'].apply(extract_speed)

df['transmission'] = df['transmission'].apply(categorize_transmission)

In [30]:
df

,brand,model_year,milage,fuel_type,transmission,accident,price,horsepower,engine_size,cylinders,speed
0,Ford,2013,"51,000 mi.",E85 Flex Fuel,automatic,1,"$10,300",300.0,3.7,6.0,6.0
1,Hyundai,2021,"34,742 mi.",Gasoline,automatic,1,"$38,005",NaN,3.8,6.0,8.0
2,Lexus,2022,"22,372 mi.",Gasoline,automatic,0,"$54,598",NaN,NaN,NaN,NaN
3,INFINITI,2015,"88,900 mi.",Hybrid,automatic,0,"$15,500",354.0,3.5,6.0,7.0
4,Audi,2021,"9,835 mi.",Gasoline,automatic,0,"$34,999",NaN,2.0,NaN,8.0
...,...,...,...,...,...,...,...,...,...,...,...
4004,Bentley,2023,714 mi.,Gasoline,automatic,0,"$349,950",NaN,6.0,12.0,8.0
4005,Audi,2022,"10,900 mi.",Gasoline,automatic,0,"$53,900",349.0,3.0,6.0,NaN
4006,Porsche,2022,"2,116 mi.",electric,automatic,0,"$90,998",NaN,NaN,NaN,NaN
4007,Ford,2020,"33,000 mi.",Gasoline,automatic,0,"$62,999",450.0,3.5,6.0,NaN
4008,BMW,2020,"43,000 mi.",Gasoline,automatic,1,"$40,000",248.0,2.0,4.0,NaN

In [31]:
df.transmission.unique()

array(['automatic', 'manual'], dtype=object)

In [32]:
df.speed.unique()

array([ 6.,  8., nan,  7.,  9., 10.,  5.,  1.,  4.,  2.])

In [33]:
df.speed = df.speed.fillna(4)

In [34]:
df.speed = df.speed.replace({1:4,2:4})

In [35]:
df

,brand,model_year,milage,fuel_type,transmission,accident,price,horsepower,engine_size,cylinders,speed
0,Ford,2013,"51,000 mi.",E85 Flex Fuel,automatic,1,"$10,300",300.0,3.7,6.0,6.0
1,Hyundai,2021,"34,742 mi.",Gasoline,automatic,1,"$38,005",NaN,3.8,6.0,8.0
2,Lexus,2022,"22,372 mi.",Gasoline,automatic,0,"$54,598",NaN,NaN,NaN,4.0
3,INFINITI,2015,"88,900 mi.",Hybrid,automatic,0,"$15,500",354.0,3.5,6.0,7.0
4,Audi,2021,"9,835 mi.",Gasoline,automatic,0,"$34,999",NaN,2.0,NaN,8.0
...,...,...,...,...,...,...,...,...,...,...,...
4004,Bentley,2023,714 mi.,Gasoline,automatic,0,"$349,950",NaN,6.0,12.0,8.0
4005,Audi,2022,"10,900 mi.",Gasoline,automatic,0,"$53,900",349.0,3.0,6.0,4.0
4006,Porsche,2022,"2,116 mi.",electric,automatic,0,"$90,998",NaN,NaN,NaN,4.0
4007,Ford,2020,"33,000 mi.",Gasoline,automatic,0,"$62,999",450.0,3.5,6.0,4.0
4008,BMW,2020,"43,000 mi.",Gasoline,automatic,1,"$40,000",248.0,2.0,4.0,4.0

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3962 entries, 0 to 4008
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         3962 non-null   object
 1   model_year    3962 non-null   int64
 2   milage        3962 non-null   object
 3   fuel_type     3962 non-null   object
 4   transmission  3962 non-null   object
 5   accident      3962 non-null   int64
 6   price         3962 non-null   object
 7   horsepower    3199 non-null   float64
 8   engine_size   3613 non-null   float64
 9   cylinders     3391 non-null   float64
 10  speed         3962 non-null   float64
dtypes: float64(4), int64(2), object(5)
memory usage: 371.4+ KB

In [37]:
for column in ['horsepower', 'engine_size', 'cylinders']:
    df[column] = df.groupby('brand')[column].transform(lambda x: x.fillna(x.median()))

In [38]:
df

,brand,model_year,milage,fuel_type,transmission,accident,price,horsepower,engine_size,cylinders,speed
0,Ford,2013,"51,000 mi.",E85 Flex Fuel,automatic,1,"$10,300",300.0,3.7,6.0,6.0
1,Hyundai,2021,"34,742 mi.",Gasoline,automatic,1,"$38,005",240.0,3.8,6.0,8.0
2,Lexus,2022,"22,372 mi.",Gasoline,automatic,0,"$54,598",301.0,3.5,6.0,4.0
3,INFINITI,2015,"88,900 mi.",Hybrid,automatic,0,"$15,500",354.0,3.5,6.0,7.0
4,Audi,2021,"9,835 mi.",Gasoline,automatic,0,"$34,999",333.0,2.0,6.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...
4004,Bentley,2023,714 mi.,Gasoline,automatic,0,"$349,950",552.0,6.0,12.0,8.0
4005,Audi,2022,"10,900 mi.",Gasoline,automatic,0,"$53,900",349.0,3.0,6.0,4.0
4006,Porsche,2022,"2,116 mi.",electric,automatic,0,"$90,998",365.0,3.6,6.0,4.0
4007,Ford,2020,"33,000 mi.",Gasoline,automatic,0,"$62,999",450.0,3.5,6.0,4.0
4008,BMW,2020,"43,000 mi.",Gasoline,automatic,1,"$40,000",248.0,2.0,4.0,4.0

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3962 entries, 0 to 4008
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         3962 non-null   object
 1   model_year    3962 non-null   int64
 2   milage        3962 non-null   object
 3   fuel_type     3962 non-null   object
 4   transmission  3962 non-null   object
 5   accident      3962 non-null   int64
 6   price         3962 non-null   object
 7   horsepower    3960 non-null   float64
 8   engine_size   3854 non-null   float64
 9   cylinders     3852 non-null   float64
 10  speed         3962 non-null   float64
dtypes: float64(4), int64(2), object(5)
memory usage: 371.4+ KB

In [40]:
for column in ['horsepower', 'engine_size', 'cylinders']:
    df[column] = df[column].transform(lambda x: x.fillna(x.median()))

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3962 entries, 0 to 4008
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         3962 non-null   object
 1   model_year    3962 non-null   int64
 2   milage        3962 non-null   object
 3   fuel_type     3962 non-null   object
 4   transmission  3962 non-null   object
 5   accident      3962 non-null   int64
 6   price         3962 non-null   object
 7   horsepower    3962 non-null   float64
 8   engine_size   3962 non-null   float64
 9   cylinders     3962 non-null   float64
 10  speed         3962 non-null   float64
dtypes: float64(4), int64(2), object(5)
memory usage: 371.4+ KB

In [42]:
df

,brand,model_year,milage,fuel_type,transmission,accident,price,horsepower,engine_size,cylinders,speed
0,Ford,2013,"51,000 mi.",E85 Flex Fuel,automatic,1,"$10,300",300.0,3.7,6.0,6.0
1,Hyundai,2021,"34,742 mi.",Gasoline,automatic,1,"$38,005",240.0,3.8,6.0,8.0
2,Lexus,2022,"22,372 mi.",Gasoline,automatic,0,"$54,598",301.0,3.5,6.0,4.0
3,INFINITI,2015,"88,900 mi.",Hybrid,automatic,0,"$15,500",354.0,3.5,6.0,7.0
4,Audi,2021,"9,835 mi.",Gasoline,automatic,0,"$34,999",333.0,2.0,6.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...
4004,Bentley,2023,714 mi.,Gasoline,automatic,0,"$349,950",552.0,6.0,12.0,8.0
4005,Audi,2022,"10,900 mi.",Gasoline,automatic,0,"$53,900",349.0,3.0,6.0,4.0
4006,Porsche,2022,"2,116 mi.",electric,automatic,0,"$90,998",365.0,3.6,6.0,4.0
4007,Ford,2020,"33,000 mi.",Gasoline,automatic,0,"$62,999",450.0,3.5,6.0,4.0
4008,BMW,2020,"43,000 mi.",Gasoline,automatic,1,"$40,000",248.0,2.0,4.0,4.0

In [43]:
df['price'] = df['price'].replace({'\$': '', ',': ''}, regex=True).astype(int)

In [44]:
df['milage'] = df['milage'].replace({'mi\.': '', ',': ''}, regex=True).astype(int)

In [45]:
df

,brand,model_year,milage,fuel_type,transmission,accident,price,horsepower,engine_size,cylinders,speed
0,Ford,2013,51000,E85 Flex Fuel,automatic,1,10300,300.0,3.7,6.0,6.0
1,Hyundai,2021,34742,Gasoline,automatic,1,38005,240.0,3.8,6.0,8.0
2,Lexus,2022,22372,Gasoline,automatic,0,54598,301.0,3.5,6.0,4.0
3,INFINITI,2015,88900,Hybrid,automatic,0,15500,354.0,3.5,6.0,7.0
4,Audi,2021,9835,Gasoline,automatic,0,34999,333.0,2.0,6.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...
4004,Bentley,2023,714,Gasoline,automatic,0,349950,552.0,6.0,12.0,8.0
4005,Audi,2022,10900,Gasoline,automatic,0,53900,349.0,3.0,6.0,4.0
4006,Porsche,2022,2116,electric,automatic,0,90998,365.0,3.6,6.0,4.0
4007,Ford,2020,33000,Gasoline,automatic,0,62999,450.0,3.5,6.0,4.0
4008,BMW,2020,43000,Gasoline,automatic,1,40000,248.0,2.0,4.0,4.0

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3962 entries, 0 to 4008
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         3962 non-null   object
 1   model_year    3962 non-null   int64
 2   milage        3962 non-null   int64
 3   fuel_type     3962 non-null   object
 4   transmission  3962 non-null   object
 5   accident      3962 non-null   int64
 6   price         3962 non-null   int64
 7   horsepower    3962 non-null   float64
 8   engine_size   3962 non-null   float64
 9   cylinders     3962 non-null   float64
 10  speed         3962 non-null   float64
dtypes: float64(4), int64(4), object(3)
memory usage: 371.4+ KB

In [47]:
df = pd.concat([df,pd.get_dummies(df.brand,dtype=int)],axis=1)

In [48]:
df = pd.concat([df,pd.get_dummies(df.fuel_type,dtype=int)],axis=1)
df = pd.concat([df,pd.get_dummies(df.transmission,dtype=int)],axis=1)

In [49]:
df

,brand,model_year,milage,fuel_type,transmission,accident,price,horsepower,engine_size,cylinders,...,Volvo,smart,Diesel,E85 Flex Fuel,Gasoline,Hybrid,Plug-In Hybrid,electric,automatic,manual
0,Ford,2013,51000,E85 Flex Fuel,automatic,1,10300,300.0,3.7,6.0,...,0,0,0,1,0,0,0,0,1,0
1,Hyundai,2021,34742,Gasoline,automatic,1,38005,240.0,3.8,6.0,...,0,0,0,0,1,0,0,0,1,0
2,Lexus,2022,22372,Gasoline,automatic,0,54598,301.0,3.5,6.0,...,0,0,0,0,1,0,0,0,1,0
3,INFINITI,2015,88900,Hybrid,automatic,0,15500,354.0,3.5,6.0,...,0,0,0,0,0,1,0,0,1,0
4,Audi,2021,9835,Gasoline,automatic,0,34999,333.0,2.0,6.0,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4004,Bentley,2023,714,Gasoline,automatic,0,349950,552.0,6.0,12.0,...,0,0,0,0,1,0,0,0,1,0
4005,Audi,2022,10900,Gasoline,automatic,0,53900,349.0,3.0,6.0,...,0,0,0,0,1,0,0,0,1,0
4006,Porsche,2022,2116,electric,automatic,0,90998,365.0,3.6,6.0,...,0,0,0,0,0,0,0,1,1,0
4007,Ford,2020,33000,Gasoline,automatic,0,62999,450.0,3.5,6.0,...,0,0,0,0,1,0,0,0,1,0
4008,BMW,2020,43000,Gasoline,automatic,1,40000,248.0,2.0,4.0,...,0,0,0,0,1,0,0,0,1,0

In [50]:
df = df.drop(['brand','fuel_type','transmission'],axis=1)

In [51]:
df

,model_year,milage,accident,price,horsepower,engine_size,cylinders,speed,Acura,Alfa,...,Volvo,smart,Diesel,E85 Flex Fuel,Gasoline,Hybrid,Plug-In Hybrid,electric,automatic,manual
0,2013,51000,1,10300,300.0,3.7,6.0,6.0,0,0,...,0,0,0,1,0,0,0,0,1,0
1,2021,34742,1,38005,240.0,3.8,6.0,8.0,0,0,...,0,0,0,0,1,0,0,0,1,0
2,2022,22372,0,54598,301.0,3.5,6.0,4.0,0,0,...,0,0,0,0,1,0,0,0,1,0
3,2015,88900,0,15500,354.0,3.5,6.0,7.0,0,0,...,0,0,0,0,0,1,0,0,1,0
4,2021,9835,0,34999,333.0,2.0,6.0,8.0,0,0,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4004,2023,714,0,349950,552.0,6.0,12.0,8.0,0,0,...,0,0,0,0,1,0,0,0,1,0
4005,2022,10900,0,53900,349.0,3.0,6.0,4.0,0,0,...,0,0,0,0,1,0,0,0,1,0
4006,2022,2116,0,90998,365.0,3.6,6.0,4.0,0,0,...,0,0,0,0,0,0,0,1,1,0
4007,2020,33000,0,62999,450.0,3.5,6.0,4.0,0,0,...,0,0,0,0,1,0,0,0,1,0
4008,2020,43000,1,40000,248.0,2.0,4.0,4.0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [52]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(df.drop('price',axis=1))

StandardScaler()

In [53]:
X = scaler.transform(df.drop('price',axis=1))

In [54]:
X.shape

(3962, 72)

In [55]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,df.price,test_size=0.1)

In [56]:
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense, BatchNormalization, Dropout, Input
from tensorflow.keras.optimizers import Adam

model = Sequential([
    Input(shape=(72,)),
    Dense(128, activation='relu'),
    BatchNormalization(), 
    Dense(64, activation='relu'),
    Dropout(0.3), 
    Dense(32, activation='relu'),
    Dense(1, activation=None) 
])

model.compile(optimizer=Adam(learning_rate=0.001), loss='mse', metrics=['mae'])  

model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 128)            │         9,344 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ batch_normalization             │ (None, 128)            │           512 │
│ (BatchNormalization)            │                        │               │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 64)             │         8,256 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dropout (Dropout)               │ (None, 64)             │             0 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_3 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 20,225 (79.00 KB)

 Trainable params: 19,969 (78.00 KB)

 Non-trainable params: 256 (1.00 KB)

In [57]:
model.fit(X_train, y_train,epochs=30)

Epoch 1/30
112/112 ━━━━━━━━━━━━━━━━━━━━ 2s 12ms/step - loss: 8668805120.0000 - mae: 45286.4688
Epoch 2/30
112/112 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 7599861248.0000 - mae: 43891.7812
Epoch 3/30
112/112 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 8008310784.0000 - mae: 36192.0117
Epoch 4/30
112/112 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 8230123008.0000 - mae: 24533.4785
Epoch 5/30
112/112 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 2621926144.0000 - mae: 18949.6113
Epoch 6/30
112/112 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 5592317952.0000 - mae: 21251.1074
Epoch 7/30
112/112 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 8072365568.0000 - mae: 21048.4121
Epoch 8/30
112/112 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 4291072000.0000 - mae: 17868.1309
Epoch 9/30
112/112 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 5968432128.0000 - mae: 19212.1953
Epoch 10/30
112/112 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 10118400000.0000 - mae: 19690.4141
Epoch 11/30
112/112 ━━━━━━━━━━━━━━━━━━━━ 1s 10ms/step - loss: 3936154368.0000 - mae: 18848.6113
Epoch 12/30
112/112 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 2682722304.0000 - mae: 16198.9492
Epoch 13/30
112/112 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 8481239040.0000 - mae: 19342.3574
Epoch 14/30
112/112 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 6963951104.0000 - mae: 17919.1914
Epoch 15/30
112/112 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 3952125184.0000 - mae: 15898.5635
Epoch 16/30
112/112 ━━━━━━━━━━━━━━━━━━━━ 1s 10ms/step - loss: 3452171008.0000 - mae: 16899.8164
Epoch 17/30
112/112 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 3356237312.0000 - mae: 15626.5127
Epoch 18/30
112/112 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 9076035584.0000 - mae: 18799.0762
Epoch 19/30
112/112 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 3207712768.0000 - mae: 15322.2129
Epoch 20/30
112/112 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 3091299584.0000 - mae: 16230.6748
Epoch 21/30
112/112 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 3724696832.0000 - mae: 16415.0898
Epoch 22/30
112/112 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 3684465920.0000 - mae: 14924.7705
Epoch 23/30
112/112 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 4930141696.0000 - mae: 17109.7559
Epoch 24/30
112/112 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 12387680256.0000 - mae: 18345.7129
Epoch 25/30
112/112 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 5727666688.0000 - mae: 16821.2461
Epoch 26/30
112/112 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 1772845568.0000 - mae: 14078.2705
Epoch 27/30
112/112 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 3249917696.0000 - mae: 15436.8877
Epoch 28/30
112/112 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 11052732416.0000 - mae: 18965.5586
Epoch 29/30
112/112 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 7077249024.0000 - mae: 17283.5156
Epoch 30/30
112/112 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 5457208832.0000 - mae: 16799.9883

In [116]:
model.evaluate(X_test,y_test)

13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 74031726592.0000 - mae: 22162.6328

[152511774720.0, 33276.265625]

In [118]:
model.predict(X_test)

13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step

array([[4.17279062e+04],
       [4.38126172e+04],
       [3.33768516e+04],
       [7.37697578e+04],
       [1.18129070e+05],
       [2.69390312e+04],
       [5.54950078e+04],
       [4.06356641e+04],
       [1.35748641e+05],
       [2.11216973e+04],
       [4.31899102e+04],
       [4.74572148e+04],
       [5.18892852e+04],
       [2.17632207e+04],
       [2.21658031e+05],
       [9.81628672e+04],
       [2.04489902e+04],
       [3.60966836e+04],
       [6.45588770e+03],
       [5.91399648e+04],
       [3.30734023e+04],
       [1.12358820e+05],
       [3.63672192e+03],
       [2.77413594e+04],
       [5.20847031e+04],
       [3.10061777e+04],
       [3.73719336e+04],
       [9.78781641e+04],
       [1.11676148e+05],
       [2.28075176e+04],
       [2.59123691e+04],
       [9.37233594e+03],
       [1.23882703e+05],
       [1.56487188e+04],
       [4.23674102e+04],
       [1.23841104e+04],
       [2.97057969e+04],
       [1.99748242e+04],
       [1.37087393e+04],
       [2.30688359e+04],
       [2.77821738e+04],
       [1.55578867e+04],
       [9.34599297e+04],
       [4.97769961e+04],
       [5.75664336e+04],
       [4.98820039e+04],
       [1.66496621e+04],
       [8.18925781e+04],
       [4.72577617e+04],
       [3.17786230e+04],
       [1.08137920e+04],
       [1.06843799e+04],
       [1.32408047e+05],
       [5.04460508e+04],
       [5.01104922e+04],
       [2.91407930e+04],
       [4.21610156e+04],
       [9.81431094e+04],
       [1.02621143e+04],
       [7.33788203e+04],
       [2.63402852e+04],
       [5.47111836e+04],
       [1.84619902e+04],
       [6.55904844e+04],
       [3.33627070e+04],
       [4.21164648e+04],
       [1.48487637e+04],
       [2.91679648e+04],
       [4.69021680e+04],
       [4.90581523e+04],
       [3.44927891e+04],
       [3.64484023e+04],
       [3.67175742e+04],
       [1.85997637e+04],
       [5.66585352e+04],
       [4.37865742e+04],
       [4.53920508e+04],
       [1.43171973e+04],
       [1.11216641e+04],
       [1.05723330e+04],
       [8.14957764e+03],
       [1.54785156e+05],
       [4.55983984e+04],
       [5.13895781e+04],
       [7.44066250e+04],
       [3.03083667e+03],
       [6.86459609e+04],
       [7.18661953e+04],
       [1.68934648e+04],
       [5.29637305e+04],
       [4.61219336e+04],
       [6.60890625e+04],
       [1.40865439e+04],
       [5.52514531e+04],
       [6.45128594e+04],
       [4.03819141e+04],
       [5.72728281e+04],
       [5.72479883e+04],
       [5.02158516e+04],
       [2.76135215e+04],
       [2.08594395e+04],
       [5.42495469e+04],
       [6.27215312e+04],
       [1.47714678e+04],
       [3.98555859e+04],
       [3.70859062e+04],
       [2.09175918e+04],
       [4.71538906e+04],
       [4.97624219e+04],
       [1.93659551e+04],
       [6.64602656e+04],
       [2.21081406e+04],
       [2.90868340e+04],
       [2.62543066e+04],
       [3.22643262e+04],
       [4.31195469e+04],
       [4.64015625e+04],
       [1.58761475e+04],
       [2.28825273e+04],
       [2.25546113e+04],
       [5.20137891e+04],
       [5.05409062e+04],
       [1.27465752e+04],
       [5.47213125e+04],
       [5.85393008e+04],
       [6.31921328e+04],
       [4.70825547e+04],
       [5.86863984e+04],
       [2.11474336e+04],
       [2.39228469e+05],
       [2.79912832e+04],
       [4.20119219e+04],
       [2.76576758e+04],
       [7.73104141e+04],
       [6.36088125e+04],
       [1.59081279e+04],
       [2.54480156e+04],
       [5.24987227e+04],
       [3.13834531e+04],
       [2.65381348e+04],
       [6.05760156e+04],
       [9.10541992e+03],
       [1.01678438e+04],
       [1.34933896e+04],
       [2.06922227e+04],
       [5.93817539e+04],
       [4.34923672e+04],
       [8.71455371e+03],
       [5.00318789e+04],
       [4.75816758e+04],
       [5.22500195e+04],
       [2.63456094e+04],
       [1.83250742e+04],
       [2.93811875e+04],
       [5.39850439e+03],
       [2.98660410e+04],
       [4.47219023e+04],
       [9.18698145e+03],
       [8.44415918e+03],
       [1.96505527e+04],
       [2.86890332e+04],
       [3.06197168e+04],
       [4.38444062e+04],
       [1.34125352e+04],
       [7.77630078e+04],
       [3.42140469e+04],
       [2.68552188e+04],
       [1.33451191e+04],
       [4.13573086e+04],
       [5.03108008e+04],
       [3.36813555e+04],
       [3.85433477e+04],
       [5.48230039e+04],
       [8.10833516e+04],
       [4.57561523e+04],
       [5.65400234e+04],
       [2.39812500e+04],
       [2.16342734e+04],
       [1.62677070e+04],
       [5.24412891e+04],
       [3.07707832e+04],
       [1.86814160e+04],
       [4.24189414e+04],
       [3.92749648e+04],
       [1.44020406e+05],
       [8.42922344e+04],
       [5.28198945e+04],
       [7.35370469e+04],
       [2.60463926e+04],
       [3.30378516e+04],
       [6.00048633e+04],
       [2.43445176e+04],
       [5.71561875e+04],
       [5.51899727e+04],
       [1.46072402e+04],
       [1.59333188e+05],
       [3.71140000e+04],
       [5.07639961e+04],
       [8.48147266e+03],
       [1.26279316e+04],
       [4.17177695e+04],
       [2.85830664e+04],
       [4.24697031e+04],
       [1.93077051e+04],
       [1.73957969e+04],
       [4.13113281e+04],
       [1.65389570e+04],
       [2.79261914e+04],
       [1.18158350e+04],
       [5.52626523e+04],
       [6.95163867e+03],
       [4.32682148e+04],
       [3.81857305e+04],
       [3.52571445e+04],
       [5.65242070e+04],
       [2.09425371e+04],
       [2.09629160e+04],
       [2.62848770e+04],
       [1.38711934e+04],
       [3.09500508e+04],
       [2.43429863e+04],
       [9.01500586e+03],
       [1.64012441e+04],
       [1.30546758e+05],
       [2.03893301e+04],
       [4.17296289e+04],
       [4.01191758e+04],
       [2.68166914e+04],
       [4.63597539e+04],
       [2.63286289e+04],
       [6.23230371e+03],
       [1.57651875e+05],
       [1.33686074e+04],
       [3.78914727e+04],
       [4.28615859e+04],
       [4.18455469e+04],
       [7.89840625e+04],
       [3.45579062e+04],
       [1.07161201e+04],
       [1.83167578e+05],
       [2.82883926e+04],
       [3.56759297e+04],
       [2.03597672e+05],
       [1.77927000e+05],
       [1.64122363e+04],
       [4.12896367e+04],
       [3.94439297e+04],
       [5.25108672e+04],
       [2.96636152e+04],
       [2.54394941e+04],
       [7.31345078e+04],
       [1.06924938e+05],
       [1.63082588e+04],
       [2.08969297e+05],
       [4.18425742e+04],
       [1.28884695e+05],
       [3.22006816e+04],
       [4.68703984e+04],
       [1.95077930e+04],
       [6.00250547e+04],
       [1.49908535e+04],
       [1.62403535e+04],
       [1.81211523e+04],
       [3.02825137e+04],
       [1.93044258e+04],
       [4.55755977e+04],
       [2.51778359e+04],
       [2.05103945e+04],
       [2.99131934e+04],
       [1.11018984e+04],
       [5.42138398e+04],
       [6.66019609e+04],
       [1.32250957e+04],
       [7.76193750e+06],
       [3.42340078e+04],
       [1.96491016e+04],
       [2.05651602e+04],
       [3.36613711e+04],
       [1.72446250e+04],
       [4.51514609e+04],
       [3.17419980e+04],
       [1.71565176e+04],
       [3.19152910e+04],
       [1.36543506e+04],
       [7.60640576e+03],
       [1.89601035e+04],
       [1.61086504e+04],
       [2.63415156e+04],
       [2.28602363e+04],
       [2.62029199e+04],
       [2.11584258e+04],
       [4.80060586e+04],
       [4.50845078e+04],
       [4.76736523e+04],
       [1.75028125e+04],
       [5.91610352e+04],
       [5.10878945e+04],
       [6.40537305e+04],
       [1.51052080e+04],
       [5.74093477e+04],
       [5.56047578e+04],
       [6.67844297e+04],
       [1.18760098e+04],
       [3.08684062e+04],
       [1.27915967e+04],
       [1.18903711e+04],
       [4.94397148e+04],
       [3.65156289e+04],
       [4.06575312e+04],
       [5.85607461e+04],
       [5.31001133e+04],
       [3.62862344e+04],
       [4.83758008e+04],
       [4.51069648e+04],
       [1.55990127e+04],
       [1.50554258e+04],
       [4.24629883e+04],
       [3.73892695e+04],
       [6.35383242e+04],
       [4.64144492e+04],
       [2.83450391e+04],
       [6.37777695e+04],
       [9.61071250e+04],
       [8.42619141e+04],
       [8.36957891e+04],
       [1.33883125e+04],
       [2.47985547e+04],
       [6.68792383e+03],
       [1.92878340e+04],
       [2.94358945e+04],
       [2.15770137e+04],
       [2.85238496e+04],
       [7.75065547e+04],
       [1.56232625e+05],
       [9.10223047e+03],
       [4.03993047e+04],
       [6.75781875e+04],
       [3.78721289e+04],
       [1.85601914e+04],
       [3.94007930e+04],
       [4.78442305e+04],
       [3.81250352e+04],
       [4.56727227e+04],
       [1.83934453e+04],
       [1.61606729e+04],
       [1.80831309e+04],
       [4.50948828e+04],
       [1.22008467e+04],
       [4.54045000e+04],
       [1.27606227e+05],
       [7.00242422e+04],
       [6.28237109e+04],
       [4.89721680e+04],
       [5.73205547e+04],
       [1.21066611e+04],
       [1.25159242e+05],
       [2.91244141e+04],
       [4.43518242e+04],
       [1.31883652e+04],
       [2.15697793e+04],
       [8.26088770e+03],
       [1.98356191e+04],
       [2.98534160e+04],
       [2.31471758e+04],
       [2.91238770e+04],
       [2.07631406e+04],
       [1.82429551e+04],
       [3.96300469e+04],
       [5.21925039e+04],
       [1.30754148e+05],
       [5.29066094e+04],
       [1.73376016e+04],
       [4.65353008e+04],
       [1.38998271e+04],
       [6.17496680e+03],
       [3.72124414e+04],
       [1.69644512e+04],
       [2.79124453e+04],
       [3.86152734e+04],
       [2.94221211e+04],
       [2.97509141e+04],
       [2.46097461e+04],
       [1.03904248e+04],
       [2.72281465e+04],
       [4.16042227e+04],
       [2.20041906e+05],
       [3.66259766e+04],
       [9.78029766e+04],
       [6.25156641e+03],
       [4.55874961e+04],
       [3.43961367e+04],
       [1.05273148e+05],
       [7.21928711e+03],
       [3.58409805e+04],
       [5.11776484e+04],
       [7.85270234e+04],
       [4.58799023e+04]], dtype=float32)

In [184]:
def predict(brand,year,mileage,fuel_type,transmission,accident,speed,horsepower,engine_size,cylinders):
    arr1 = np.zeros(df.columns[8:-8].shape[0])
    arr1[np.where(df.columns[8:-8]==brand)] = 1 
    arr2 = np.zeros(df.columns[-8:-2].shape[0])
    arr2[np.where(df.columns[-8:-2]==fuel_type)] = 1 
    arr3 = np.zeros(df.columns[-2:].shape[0])
    arr3[np.where(df.columns[-2:]==transmission)] = 1 
    
    features = np.array([year,mileage,accident,horsepower,engine_size,cylinders,speed])
    final_features = np.concatenate((features, arr1, arr2, arr3))
    final_features = final_features.reshape(1, -1)  

    return scaler.transform(final_features)

In [178]:
df.columns[8:-8]

Index(['Acura', 'Alfa', 'Aston', 'Audi', 'BMW', 'Bentley', 'Bugatti', 'Buick',
       'Cadillac', 'Chevrolet', 'Chrysler', 'Dodge', 'FIAT', 'Ferrari', 'Ford',
       'GMC', 'Genesis', 'Honda', 'Hummer', 'Hyundai', 'INFINITI', 'Jaguar',
       'Jeep', 'Karma', 'Kia', 'Lamborghini', 'Land', 'Lexus', 'Lincoln',
       'Lotus', 'Lucid', 'MINI', 'Maserati', 'Maybach', 'Mazda', 'McLaren',
       'Mercedes-Benz', 'Mercury', 'Mitsubishi', 'Nissan', 'Plymouth',
       'Polestar', 'Pontiac', 'Porsche', 'RAM', 'Rivian', 'Rolls-Royce',
       'Saab', 'Saturn', 'Scion', 'Subaru', 'Suzuki', 'Tesla', 'Toyota',
       'Volkswagen', 'Volvo', 'smart'],
      dtype='object')

In [180]:
df.columns

Index(['model_year', 'milage', 'accident', 'price', 'horsepower',
       'engine_size', 'cylinders', 'speed', 'Acura', 'Alfa', 'Aston', 'Audi',
       'BMW', 'Bentley', 'Bugatti', 'Buick', 'Cadillac', 'Chevrolet',
       'Chrysler', 'Dodge', 'FIAT', 'Ferrari', 'Ford', 'GMC', 'Genesis',
       'Honda', 'Hummer', 'Hyundai', 'INFINITI', 'Jaguar', 'Jeep', 'Karma',
       'Kia', 'Lamborghini', 'Land', 'Lexus', 'Lincoln', 'Lotus', 'Lucid',
       'MINI', 'Maserati', 'Maybach', 'Mazda', 'McLaren', 'Mercedes-Benz',
       'Mercury', 'Mitsubishi', 'Nissan', 'Plymouth', 'Polestar', 'Pontiac',
       'Porsche', 'RAM', 'Rivian', 'Rolls-Royce', 'Saab', 'Saturn', 'Scion',
       'Subaru', 'Suzuki', 'Tesla', 'Toyota', 'Volkswagen', 'Volvo', 'smart',
       'Diesel', 'E85 Flex Fuel', 'Gasoline', 'Hybrid', 'Plug-In Hybrid',
       'electric', 'automatic', 'manual'],
      dtype='object')

In [216]:
ftur = predict('McLaren',2020,2000,'Gasoline','automatic',0,6,300,3.5,6)

/opt/anaconda3/lib/python3.11/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [218]:
model.predict(ftur)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step

array([[147189.56]], dtype=float32)

In [220]:
model.save('model.keras')

In [222]:
import pickle
with open('columns.pkl','wb') as f:
    pickle.dump(df.columns,f)

In [228]:

with open('scaler.pkl','wb') as f:
    pickle.dump(scaler,f)